<div class="main-page">
  <div class="top-nav">
    <div class="poke-ball-container">
      <img 
        src="../assets/Poké_Ball_icon.png"
        class="poke-ball"
      >
    </div>

    <app-mobile-menu></app-mobile-menu>

    <div class="top-nav-menu-items">
      <button 
        mat-button 
        class="menu-button"
        [routerLink]="['/pokemon']"
      >
        <mat-icon>table_chart</mat-icon>
        <span>Pokemon!</span>
      </button>

      <button 
        mat-button 
        class="menu-button"
        [routerLink]="['/caught']"
      >
        <mat-icon>check_circle_outline</mat-icon>
        <span>Caught List</span>
      </button>

      <button 
        mat-button 
        class="menu-button"
        [routerLink]="['/wishlist']"
      >
        <mat-icon>shopping_cart</mat-icon>
        <span>Wish List</span>
      </button>

      <button 
        mat-button
        class="menu-button"
        [routerLink]="['/compare']"
      >
        <mat-icon>compare_arrows</mat-icon>
        <span>Compare</span>
      </button>
    </div>
  </div>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
