<div class="profile">
  <!-- <h1>DO DETAIL PAGE, SEARCH, AND TOP BAR MENU TODAY</h1> -->
  <h1>
    <a
      matTooltip="Back to Pokemon!"
      matTooltipPosition="right"
      [routerLink]="['/pokemon']"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    {{ routeNameParameter }}
  </h1>
  <img src="{{ profileImageUrl }}"/>
  <p>
    Weight: 
    <span>{{ weight }} kg</span> | 
    Abilities: 
    <span *ngFor="let ability of abilities">
      {{ ability.ability.name }},&nbsp;
    </span>
  </p>

  <h2>Moves</h2>
  
  <table 
    *ngIf="moves.length > 0"
    mat-table 
    [dataSource]="moves" 
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th 
        mat-header-cell 
        *matHeaderCellDef
      >
        Name
      </th>
      <td 
        mat-cell 
        *matCellDef="let element"
      >
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="level_learned">
      <th 
        mat-header-cell 
        *matHeaderCellDef
      >
        Level Learned
      </th>
      <td 
        mat-cell 
        *matCellDef="let element"
      >
        {{ element.level_learned }}
      </td>
    </ng-container>

    <ng-container matColumnDef="learn_method">
      <th 
        mat-header-cell 
        *matHeaderCellDef
      >
        Learn Method
      </th>
      <td 
        mat-cell 
        *matCellDef="let element"
      >
        {{ element.learn_method }}
      </td>
    </ng-container>

    <tr 
      mat-header-row 
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr 
      mat-row 
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

</div>
